

body {
    display: flex;
    align-items: center;
    height: 100vh;
}

main {
    font-family: 'Parisienne', cursive;
    font-size: 2.5em;
    text-align: center;
    top: 10%;
    left: 50%;
    height: fit-content;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    margin: 0;
    position: absolute;
}

@media screen and (max-width: 481px) {
    body {
        display: flex;
        height: 100vh;
    }

    main {
        position: top;
        width: 90%;
        height: fit-content;
        top: 5%;
        left: 0%;
        font-size: 2.5em;
        margin: 5%;
        overflow-wrap: break-word;
        transform: none;
        text-align: center;
    }
}
