

body {
    display: flex;
    align-items: center;
    height: 100vh;
}

main {
    font-family: 'Parisienne', cursive;
    font-size: xx-large;
    text-align: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 0;
    position: absolute;
}

@media screen and (max-width: 481px) {
    body {
        display: flex;
    }

    main {
        width: 100%;
        left: 0%;
        font-size: 2em;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        transform: none;
        text-align: left;
    }
}